---
const chips = [
  'Open source',
  'Privacy-first',
  'BYO API key',
  '7 languages',
];
---
<section class="pb-16 pt-2 sm:pb-20">
  <div class="site-shell">
    <ul class="feature-chip-list">
      {chips.map((chip) => (
        <li>{chip}</li>
      ))}
    </ul>
  </div>
</section>
